<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding: 20px;
        }
        .usr_img{
    width: 100px;
    border-radius: 12px;
}
.close-btn{
    position : absolute;
    right: 10px;
}

        
    </style>
    <script src="https://kit.fontawesome.com/04a1228d4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://creattie.com/js/embed.js?id=adfc0335539d5f5148f7" defer></script>

</head>
<body>
    <creattie-embed
    src="https://d1k5j68ob7clqb.cloudfront.net/saved_colors/12997/SRNxKHQMlfVSmZ5L.json"
    delay="1"
    speed="100"
    frame_rate="24"
    stroke_width="17.5"
    trigger="hover"
    style="width:100px;background-color: ">
   </creattie-embed>
   <video src="\Users\SIVA\Downloads\K1J7uF98ornS7Iqq22.mp4"></video>
</body>
</html>