doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Dream Verse - Where Imaginations Get Their Own Wi-Fi!
  meta(name='description' content='')
  // Inter UI font
  link(href='https://rsms.me/inter/inter-ui.css' rel='stylesheet')
  // vendors styles
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css')
  script(src="https://kit.fontawesome.com/04a1228d4b.js" crossorigin="anonymous")
  // Bootstrap CSS / Color Scheme
  link#theme-color(rel='stylesheet', href='/stylesheets/welcome.css')  

// navigation
section.smart-scroll
  .container-fluid
    nav.navbar.navbar-expand-md.navbar-dark
      h2.navbar-brand.heading-black
        | Dream Verse
      button.navbar-toggler.navbar-toggler-right.border-0(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        span(data-feather='grid')
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.page-scroll(href='#the_us') The Us
          //
            <li class="nav-item">
            <a class="nav-link page-scroll" href="#pricing">Pricing</a>
            </li>
          li.nav-item
            a.nav-link.page-scroll(href='#faq') FAQ
          li.nav-item
            a.nav-link.page-scroll(href='#join_us') Join Us
          li.nav-item
            a.nav-link.page-scroll.d-flex.flex-row.align-items-center.text-primary(href='https://dreamverse.onrender.com/signup')
              em.mr-2(data-feather='log-in' width='18' height='18')
              |                             Sign up
// hero header
section#home.py-7.py-md-0.bg-hero
  .container
    .row.vh-md-100
      .col-md-8.col-sm-10.col-12.mx-auto.my-auto.text-center
        h1.heading-black.text-capitalize Welcome to Dream Verse, where imaginations get their own Wi-Fi!
        p.lead.py-3
          | Unleash your imagination and share your wildest daydreams in a vibrant platform made for dreamers.
        a.btn.btn-primary.d-inline-flex.flex-row.align-items-center(type="'button" href='https://dreamverse.onrender.com/signup')
          | Dive in
          em.ml-2(data-feather='arrow-right')
// features section
section#features.pt-6.pb-7
  .container
    .row
      .col-md-6.mx-auto.text-center
        p.text-muted.lead
          | Welcome to Dream Verse, where people come together to share their imaginations, day dreams and dreams. Whether you love to write stories or enjoy reading them, this is the perfect place for you.
    .row.mt-5
      .col-md-10.mx-auto
        .row.feature-boxes
          .col-md-6.box
            .icon-box.box-primary
              .icon-box-inner
               span
                i.fa-solid.fa-laptop
            h5 Read
            p.text-muted Indulge in daydreams, the legal way!
          .col-md-6.box
            .icon-box.box-success
              .icon-box-inner
                span
                  i.fa-solid.fa-pencil
            h5 Write
            p.text-muted Put your wild thoughts on Dream Verse before they escape to Narnia.
          .col-md-6.box
            .icon-box.box-danger
              .icon-box-inner
                span
                  i.fa-solid.fa-share
            h5 Share
            p.text-muted Spread the madness, share your inner unicorn with the world!
          .col-md-6.box
            .icon-box.box-info
              .icon-box-inner
                span 
                  i.fa-solid.fa-repeat
            h5 Repeat
            p.text-muted Fantasies never dissapoints you. Keep on dreaming , keep on reading
// pricing section
section#pricing.py-7.bg-dark.section-angle.top-right.bottom-right
  .container
    .row.mt-5
      .col-md-8.col-12.divider.top-divider.mx-auto.pt-5.text-center
        h3 Join our community 
        p.mb-4
          | Discover amazing stories, and let your imagination run wild. This is a place where your dreams come to life, and new worlds are waiting to be explored. Start sharing your own stories or get lost in the enchanting tales of others. Welcome to a world of endless possibilities!
        a.btn.btn-primary(type='button' href='https://dreamverse.onrender.com/signup')
          | Create your account
// faq section
section#faq.py-7
  .container
    .row
      .col-md-6.mx-auto.text-center
        h2 Frequently asked questions
        p.text-muted.lead Answers to most common questions.
    .row.mt-5
      .col-md-10.mx-auto
        .row
          .col-md-6.mb-5
            h6 Is Dream Verse free to use?
            p.text-muted
              | Yes, Dream Verse is absolutely free to use. We believe in providing a platform where dreamers from all walks of life can come together to share their imaginations without any cost.
          .col-md-6.mb-5
            h6 How can I report inappropriate content or behavior?
            p.text-muted
              | We take the safety and well-being of our community seriously. If you come across any inappropriate content or behavior, please use the reporting feature or contact us directly. We will investigate and take appropriate action.
          .col-md-6.mb-5
            h6 Can I share my posts on other social media platforms?
            p.text-muted
              | Yes, you can easily share your Dream Verse posts on other social media platforms using the provided sharing options. Spread the magic and let your friends outside of Dream Verse enjoy your creative works too!
          .col-md-6.mb-5
            h6 How do I create an account on Dream Verse?
            p.text-muted
              | To create an account on Dream Verse, simply click on the &quot;Sign Up&quot; button and follow the registration process. You can choose to sign up with your email or use your Google account for a seamless experience.
    //
      <div class="row mt-4">
      <div class="col-md-6 mx-auto text-center">
      <h5 class="mb-4">Have questions?</h5>
      <a href="#" class="btn btn-primary">Contact us</a>
      </div>
      </div>
// news section
section#join_us.py-7.bg-dark.section-angle.top-left.bottom-left
  .container
    .row
      .col-md-6.mx-auto.text-center
        h2.heading-black Join Us.
    .row.mt-5
      p
        | Hello there! I&apos;m 
        a(href='http://karthikeyan007bot.github.io/') Karthikeyan
        |  , a dedicated daydreamer and the magician behind this Dream Verse. As a student of the mystical arts (currently pursuing B.Tech 4th year), I&apos;ve crafted this platform for sharing imaginations and indulging in creative adventures and of course to practice the magic of web development, I&apos;m currently studying at Hogwarts. I&apos;m trying hard to keep it alive. But fear not, I&apos;m open to the mystical assistance of frontend wizards, backend sorcerers, and visionary designers who dare to join my quest. Together, let&apos;s bring laughter, imagination, and a touch of code-induced madness to the digital realm. Welcome to our magical family!
    .row.mt-6
      .col-md-6.mx-auto.text-center
        a.btn.btn-primary(href='https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=karthi2003ds@gmail.com' target='_blank') Send a message
section#the_us.py-7.section-angle.top-left.bottom-left
  .container
    .row
      .col-md-6.mx-auto.text-center
        h3 The Us
        p
          | Our team? Us? We? Well, all of these are just my way of referring to the various voices in my head. I wear many hats around here, but don&apos;t worry, I make sure to wash them regularly! 
          a(href='#join_us') Join us
// footer
footer.py-6
  .container
    .row
      .col-sm-5.mr-auto
        h5 About Dream Verse
        p.text-muted
          | Welcome to Dream Verse, the realm where imagination thrives! 
          br
          |                     We invite dreamers and daydreamers to share their creative lives. 
          br
          |                     Connect with fellow dreamers, explore realms unknown, 
          br
          |                     Dream Verse is where imaginations find their true home.
        //
          <ul class="list-inline social social-sm">
          <li class="list-inline-item">
          <a href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
          <a href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
          <a href=""><i class="fa fa-google-plus"></i></a>
          </li>
          </ul>
      .col-sm-2
        h5 Legal
        ul.list-unstyled
          li
            a(href='/privacy') Privacy
          li
            a(href='/terms_of_use') Terms
          li
            a(href='/guide') Guide
      .col-sm-2
        h5 Help
        ul.list-unstyled
          li
            a(href='join_us') Join Us
          li
            a(href='https://dreamverse.render.com') Sign up
    .row.mt-5
      .col-12.text-muted.text-center.small-xl
        | &copy; 2023 Dream Verse - All Rights Reserved. From 
        a(href='https://karthikeyan007bot.github.io')  Karthikeyan
// scroll to top
.scroll-top
  i.fa.fa-angle-up(aria-hidden='true')
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
script(src ='/javascripts/welcome.js')

